:root.jumpstart,
.jumpstart {
  /*Primary*/
  --bg-primary: theme('colors.avocado.400');
  --bg-primary-hover: theme('colors.avocado.300');
  --text-on-primary: theme('colors.smoke.900');
  --border-primary: theme('colors.avocado.500');
  --border-primary-hover: theme('colors.avocado.300');
  --text-primary: theme('colors.avocado.800');
  --text-primary-hover: theme('colors.avocado.700');

  /*Secondary*/
  --bg-secondary: theme('colors.smoke.50');
  --text-on-secondary: theme('colors.smoke.800');
  --bg-secondary-hover: theme('colors.smoke.100');
  --text-on-secondary-hover: theme('colors.smoke.700');
  --border-secondary: theme('colors.smoke.300');

  /*Danger*/
  --bg-danger: theme('colors.danger.700');
  --bg-danger-hover: theme('colors.danger.600');
  --text-on-danger: theme('colors.white');
  --border-danger: theme('colors.danger.500');
  --border-danger-focus: theme('colors.danger.500');
  --text-danger: theme('colors.danger.700');
  --bg-danger-secondary: theme('colors.danger.50');
  --text-on-danger-secondary: theme('colors.danger.700');
  --icon-on-danger-secondary: theme('colors.danger.600');

  /*Success*/
  --bg-success: theme('colors.success.800');
  --bg-success-hover: theme('colors.success.700');
  --text-on-success: theme('colors.white');
  --border-success: theme('colors.success.600');
  --border-success-focus: theme('colors.success.500');
  --text-success: theme('colors.success.800');
  --bg-success-secondary: theme('colors.success.50');
  --text-on-success-secondary: theme('colors.success.700');
  --icon-on-success-secondary: theme('colors.success.600');

  /*Info*/
  --bg-info-secondary: theme('colors.info.50');
  --text-on-info-secondary: theme('colors.info.700');
  --icon-on-info-secondary: theme('colors.info.500');

  /*Warning*/
  --bg-warning-secondary: theme('colors.warning.50');
  --text-on-warning-secondary: theme('colors.warning.700');
  --icon-on-warning-secondary: theme('colors.warning.700');

  /*Accent*/
  --bg-accent: theme('colors.accent.700');
  --text-on-accent: theme('colors.white');
  --border-accent: theme('colors.accent.500');
  --text-accent: theme('colors.accent.700');

  /*Light*/
  --bg-light: theme('colors.smoke.50');
  --bg-light-hover: theme('colors.smoke.100');
  --text-on-light: theme('colors.smoke.800');
  --text-on-light-outline: theme('colors.smoke.800');
  --border-light: theme('colors.smoke.300');

  /*Dark*/
  --bg-dark: theme('colors.smoke.950');
  --bg-dark-secondary: theme('colors.smoke.400');
  --bg-dark-hover: theme('colors.smoke.900');
  --text-on-dark: theme('colors.white');
  --text-on-dark-outline: theme('colors.smoke.200');
  --border-dark: theme('colors.smoke.700');
  --border-dark-focus: theme('colors.smoke.500');

  /*Disabled*/
  --bg-disabled: theme('colors.smoke.200');
  --bg-disabled-selected: theme('colors.smoke.400');
  --text-on-disabled-selected: theme('colors.smoke.200');
  --border-disabled: theme('colors.smoke.300');
  --bg-disabled-secondary: theme('colors.smoke.300');
  --icon-disabled: theme('colors.smoke.400');

  /*Base*/
  --base-text: theme('colors.smoke.950');
  --base-text-secondary: theme('colors.smoke.900');
  --base-text-tertiary: theme('colors.smoke.700');
  --base-text-disabled: theme('colors.smoke.500');
  --base-icon: theme('colors.smoke.600');
  --base-bg-backdrop: theme('colors.smoke.800');
  --base-bg-highest: theme('colors.smoke.200');
  --base-bg-high: theme('colors.smoke.100');
  --base-bg-base: theme('colors.smoke.50');
  --base-bg-low: theme('colors.white');
  --base-bg-lowest: theme('colors.smoke.50');
  --base-border-primary: theme('colors.smoke.500');
  --base-border-secondary: theme('colors.smoke.400');
  --base-border-tertiary: theme('colors.smoke.300');
  --base-border-focus: theme('colors.sage.400');
  --base-bg-selected: theme('colors.avocado.600');
  --base-bg-hover: theme('colors.avocado.100');
  --base-bg-tooltip: theme('colors.smoke.800');
  --base-text-on-tooltip: theme('colors.smoke.50');

  /* Background */
  background-color: var(--base-bg-low);
}